body {
    margin: 0px;
}

.header {
    background-color: #2D25A0;
    width: 100%;
    height: 650px;
}

.header-names {
    padding-top: 52px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 156px;
}

.header-names a {
    color: white;
    text-decoration: none;
    font-size: 16px;

}

.header-button {
    padding: 10px 24px 10px 24px;
    background-color: #E02C6D;
    border-radius: 5px;
    border: 0px;
    margin-left: 1000px;
    width: 123px;
    height: 44px;
    margin-top: -8px;



}

.header-image img {
    width: 556px;
    height: 438px;
}

.header-title {
    color: white;
    font-size: 40px;
    margin: 10px;


}

.header-details {
    display: flex;
    gap: 900px;
    margin-top: 70px;
    margin-left: 156px;
}

.header-info {
    margin-top: 90px;
}